<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>ΩF:∅ Time Tracker : {{template "title" .}}</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="/static/css/site.css">
</head>
<body>
<div class="container">
<div class="header clearfix">
  <div class="pull-right">
	<a class="btn btn-link" role="button" href="/logout">Logout</a>
  </div>
  <h3 class="text-muted">Time Tracker</h3>
</div>
{{template "body" .}}
<footer class="footer">
  <p>&copy; 2017 OFTN Inc.</p>
</footer>
</div>
</body>
</html>
